In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import json

In [2]:
HDHT22 = pd.read_csv("../data/raw/measures/H-DHT22-measures.csv")
HHTU21 = pd.read_csv("../data/raw/measures/H-HTU21-measures.csv")
PBMP280 = pd.read_csv("../data/raw/measures/P-BMP280-measures.csv")
TBMP280 = pd.read_csv("../data/raw/measures/T-BMP280-measures.csv")
TDHT11 = pd.read_csv("../data/raw/measures/T-DHT11-measures.csv")
TDHT22 = pd.read_csv("../data/raw/measures/T-DHT22-measures.csv")

In [3]:
print (HDHT22.head(),'\n')
print (HDHT22.columns,'\n')
print (HDHT22.count(),'\n')
print (HDHT22.info(),'\n')
print (HDHT22.describe(),'\n')

    sensor  value                  time
0  H-DHT22   15.7  2017-12-19T14:07:18Z
1  H-DHT22   15.7  2017-12-19T14:07:25Z
2  H-DHT22   15.7  2017-12-19T14:07:32Z
3  H-DHT22   15.7  2017-12-19T14:07:38Z
4  H-DHT22   15.7  2017-12-19T14:07:45Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1440160
value     1440160
time      1440160
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440160 entries, 0 to 1440159
Data columns (total 3 columns):
sensor    1440160 non-null object
value     1440160 non-null float64
time      1440160 non-null object
dtypes: float64(1), object(2)
memory usage: 33.0+ MB
None

              value
count  1.440160e+06
mean   1.001381e+00
std    1.991973e-01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    9.990000e+01

In [4]:
print (HHTU21.head(),'\n')
print (HHTU21.columns,'\n')
print (HHTU21.count(),'\n')
print (HHTU21.info(),'\n')
print (HHTU21.describe(),'\n')

    sensor  value                  time
0  H-HTU21   28.3  2017-12-20T12:17:05Z
1  H-HTU21   28.2  2017-12-20T12:17:07Z
2  H-HTU21   28.1  2017-12-20T12:17:09Z
3  H-HTU21   28.2  2017-12-20T12:17:11Z
4  H-HTU21   28.2  2017-12-20T12:17:13Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1428377
value     1428377
time      1428377
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428377 entries, 0 to 1428376
Data columns (total 3 columns):
sensor    1428377 non-null object
value     1428377 non-null float64
time      1428377 non-null object
dtypes: float64(1), object(2)
memory usage: 32.7+ MB
None

              value
count  1.428377e+06
mean   3.434038e+01
std    4.954117e+00
min    1.970000e+01
25%    3.040000e+01
50%    3.440000e+01
75%    3.730000e+01
max    5.630000e+01

In [5]:
print (PBMP280.head(),'\n')
print (PBMP280.columns,'\n')
print (PBMP280.count(),'\n')
print (PBMP280.info(),'\n')
print (PBMP280.describe(),'\n')

     sensor    value                  time
0  P-BMP280  1035.56  2017-12-22T10:52:59Z
1  P-BMP280  1035.55  2017-12-22T10:53:02Z
2  P-BMP280  1035.54  2017-12-22T10:53:05Z
3  P-BMP280  1035.54  2017-12-22T10:53:08Z
4  P-BMP280  1035.53  2017-12-22T10:53:11Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1422788
value     1422788
time      1422788
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422788 entries, 0 to 1422787
Data columns (total 3 columns):
sensor    1422788 non-null object
value     1422788 non-null float64
time      1422788 non-null object
dtypes: float64(1), object(2)
memory usage: 32.6+ MB
None

              value
count  1.422788e+06
mean   1.015690e+03
std    1.011063e+01
min    9.856200e+02
25%    1.008670e+03
50%    1.016970e+03
75%    1.022570e+03
max    1.039050e+03

In [6]:
print (TBMP280.head(),'\n')
print (TBMP280.columns,'\n')
print (TBMP280.count(),'\n')
print (TBMP280.info(),'\n')
print (TBMP280.describe(),'\n')

     sensor  value                  time
0  T-BMP280  26.43  2017-12-22T10:52:59Z
1  T-BMP280  26.43  2017-12-22T10:53:02Z
2  T-BMP280  26.44  2017-12-22T10:53:05Z
3  T-BMP280  26.44  2017-12-22T10:53:08Z
4  T-BMP280  26.42  2017-12-22T10:53:11Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1422795
value     1422795
time      1422795
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422795 entries, 0 to 1422794
Data columns (total 3 columns):
sensor    1422795 non-null object
value     1422795 non-null float64
time      1422795 non-null object
dtypes: float64(1), object(2)
memory usage: 32.6+ MB
None

              value
count  1.422795e+06
mean   2.224838e+01
std    2.619527e+00
min    1.568000e+01
25%    2.096000e+01
50%    2.253000e+01
75%    2.408000e+01
max    2.899000e+01

In [7]:
print (TDHT11.head(),'\n')
print (TDHT11.columns,'\n')
print (TDHT11.count(),'\n')
print (TDHT11.info(),'\n')
print (TDHT11.describe(),'\n')

    sensor  value                  time
0  T-DHT11     27  2017-12-22T11:22:11Z
1  T-DHT11     28  2017-12-22T11:22:16Z
2  T-DHT11     28  2017-12-22T11:22:20Z
3  T-DHT11     28  2017-12-22T11:22:24Z
4  T-DHT11     28  2017-12-22T11:22:28Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1420308
value     1420308
time      1420308
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420308 entries, 0 to 1420307
Data columns (total 3 columns):
sensor    1420308 non-null object
value     1420308 non-null int64
time      1420308 non-null object
dtypes: int64(1), object(2)
memory usage: 32.5+ MB
None

              value
count  1.420308e+06
mean   2.124776e+01
std    2.492706e+00
min    1.500000e+01
25%    2.000000e+01
50%    2.200000e+01
75%    2.300000e+01
max    2.900000e+01

In [8]:
print (TDHT22.head(),'\n')
print (TDHT22.columns,'\n')
print (TDHT22.count(),'\n')
print (TDHT22.info(),'\n')
print (TDHT22.describe(),'\n')

    sensor  value                  time
0  T-DHT22   25.5  2017-12-19T14:07:18Z
1  T-DHT22   25.5  2017-12-19T14:07:25Z
2  T-DHT22   25.6  2017-12-19T14:07:32Z
3  T-DHT22   25.6  2017-12-19T14:07:38Z
4  T-DHT22   25.6  2017-12-19T14:07:45Z

Index(['sensor', 'value', 'time'], dtype='object')

sensor    1440150
value     1440150
time      1440150
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440150 entries, 0 to 1440149
Data columns (total 3 columns):
sensor    1440150 non-null object
value     1440150 non-null float64
time      1440150 non-null object
dtypes: float64(1), object(2)
memory usage: 33.0+ MB
None

              value
count  1.440150e+06
mean   2.299986e+01
std    2.480804e+00
min    1.670000e+01
25%    2.170000e+01
50%    2.330000e+01
75%    2.480000e+01
max    2.980000e+01

In [9]:
HDHT11 = []
PDM280 = []
TDM280 = []
THTU21 = []

with open("../data/raw/measures/H-DHT11-measures.json") as f:
     for line in f:
        HDHT11.append(json.loads(line))

with open("../data/raw/measures/P-DM280-measures.json") as f:
     for line in f:
        PDM280.append(json.loads(line))

with open("../data/raw/measures/T-DM280-measures.json") as f:
     for line in f:
        TDM280.append(json.loads(line))

with open("../data/raw/measures/T-HTU21-measures.json") as f:
     for line in f:
        THTU21.append(json.loads(line))

In [10]:
HDHT11 = json_normalize(HDHT11)

In [11]:
PDM280 = json_normalize(PDM280)

In [12]:
TDM280 = json_normalize(TDM280)

In [13]:
THTU21 = json_normalize(THTU21)

In [14]:
print (PDM280.head(),'\n')
print (PDM280.columns,'\n')
print (PDM280.count(),'\n')
print (PDM280.info(),'\n')
print (PDM280.describe(),'\n')

    sensor                  time    value
0  P-DM280  2017-12-22T10:51:32Z  1040.00
1  P-DM280  2017-12-22T10:51:35Z  1040.00
2  P-DM280  2017-12-22T10:51:38Z  1039.97
3  P-DM280  2017-12-22T10:51:41Z  1039.95

Index(['sensor', 'time', 'value'], dtype='object')

sensor    4
time      4
value     4
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null object
value     4 non-null float64
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
None

             value
count     4.000000
mean   1039.980000
std       0.024495
min    1039.950000
25%    1039.965000
50%    1039.985000
75%    1040.000000
max    1040.000000

In [15]:
print (HDHT11.head(),'\n')
print (HDHT11.columns,'\n')
print (HDHT11.count(),'\n')
print (HDHT11.info(),'\n')
print (HDHT11.describe(),'\n')

    sensor                  time  value
0  H-DHT11  2017-12-22T11:22:11Z     31
1  H-DHT11  2017-12-22T11:22:16Z     31
2  H-DHT11  2017-12-22T11:22:20Z     31
3  H-DHT11  2017-12-22T11:22:24Z     31
4  H-DHT11  2017-12-22T11:22:28Z     31

Index(['sensor', 'time', 'value'], dtype='object')

sensor    1420302
time      1420302
value     1420302
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420302 entries, 0 to 1420301
Data columns (total 3 columns):
sensor    1420302 non-null object
time      1420302 non-null object
value     1420302 non-null int64
dtypes: int64(1), object(2)
memory usage: 32.5+ MB
None

              value
count  1.420302e+06
mean   3.500247e+01
std    1.173970e+00
min    3.100000e+01
25%    3.400000e+01
50%    3.500000e+01
75%    3.600000e+01
max    3.900000e+01

In [16]:
print (TDM280.head(),'\n')
print (TDM280.columns,'\n')
print (TDM280.count(),'\n')
print (TDM280.info(),'\n')
print (TDM280.describe(),'\n')

    sensor                  time  value
0  T-DM280  2017-12-22T10:51:31Z  26.43
1  T-DM280  2017-12-22T10:51:35Z  26.43
2  T-DM280  2017-12-22T10:51:38Z  26.45
3  T-DM280  2017-12-22T10:51:41Z  26.45

Index(['sensor', 'time', 'value'], dtype='object')

sensor    4
time      4
value     4
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null object
value     4 non-null float64
dtypes: float64(1), object(2)
memory usage: 176.0+ bytes
None

           value
count   4.000000
mean   26.440000
std     0.011547
min    26.430000
25%    26.430000
50%    26.440000
75%    26.450000
max    26.450000

In [17]:
print (THTU21.head(),'\n')
print (THTU21.columns,'\n')
print (THTU21.count(),'\n')
print (THTU21.info(),'\n')
print (THTU21.describe(),'\n')

    sensor                  time  value
0  T-HTU21  2017-12-20T12:17:05Z  25.09
1  T-HTU21  2017-12-20T12:17:07Z  25.09
2  T-HTU21  2017-12-20T12:17:09Z  25.09
3  T-HTU21  2017-12-20T12:17:11Z  25.09
4  T-HTU21  2017-12-20T12:17:13Z  25.08

Index(['sensor', 'time', 'value'], dtype='object')

sensor    1428383
time      1428383
value     1428383
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428383 entries, 0 to 1428382
Data columns (total 3 columns):
sensor    1428383 non-null object
time      1428383 non-null object
value     1428383 non-null float64
dtypes: float64(1), object(2)
memory usage: 32.7+ MB
None

              value
count  1.428383e+06
mean   2.153985e+01
std    2.573268e+00
min    1.508000e+01
25%    2.026000e+01
50%    2.181000e+01
75%    2.334000e+01
max    2.821000e+01

We see that the value columns of all the JSON files are diferent to the CSV files, so we correct them.

In [18]:
PDM280 = PDM280[['sensor','value','time']]
PDM280.head()

    sensor    value                  time
0  P-DM280  1040.00  2017-12-22T10:51:32Z
1  P-DM280  1040.00  2017-12-22T10:51:35Z
2  P-DM280  1039.97  2017-12-22T10:51:38Z
3  P-DM280  1039.95  2017-12-22T10:51:41Z

In [19]:
HDHT11 = HDHT11[['sensor','value','time']]
HDHT11.head()

    sensor  value                  time
0  H-DHT11     31  2017-12-22T11:22:11Z
1  H-DHT11     31  2017-12-22T11:22:16Z
2  H-DHT11     31  2017-12-22T11:22:20Z
3  H-DHT11     31  2017-12-22T11:22:24Z
4  H-DHT11     31  2017-12-22T11:22:28Z

In [20]:
TDM280 = TDM280[['sensor','value','time']]
TDM280.head()

    sensor  value                  time
0  T-DM280  26.43  2017-12-22T10:51:31Z
1  T-DM280  26.43  2017-12-22T10:51:35Z
2  T-DM280  26.45  2017-12-22T10:51:38Z
3  T-DM280  26.45  2017-12-22T10:51:41Z

In [21]:
TDM280 = TDM280[['sensor','value','time']]
TDM280.head()

    sensor  value                  time
0  T-DM280  26.43  2017-12-22T10:51:31Z
1  T-DM280  26.43  2017-12-22T10:51:35Z
2  T-DM280  26.45  2017-12-22T10:51:38Z
3  T-DM280  26.45  2017-12-22T10:51:41Z